image: {{ requiredEnv "DOCKER_IMAGE" }}
serviceName: latin-ua-back-end
containerPort: 8090
servicePort: 80
externalDnsName: 
  - api.latin.com.ua
newRelicLicenseKey: {{ .Values.newRelicLicenseKey | quote }}
certificateArn: "arn:aws:acm:eu-central-1:991225504892:certificate/11221e6e-f05d-4153-8e15-d01127212cba"
healthCheck: "/health-check"
